<a href="https://colab.research.google.com/github/Septianadaw/Septianaweek9/blob/main/Untitled5.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#create a list
thislist = ["apple", "banana", "cherry"]
print(thislist)

['apple', 'banana', 'cherry']

In [ ]:
#create a list
thislist = ["apple", "banana", "cherry"]
print(thislist)

['apple', 'banana', 'cherry']

In [ ]:
thislist = ["apple", "banana", "cherry", "apple", "cherry"]
print(thislist)#Lists allow duplicate values:

['apple', 'banana', 'cherry', 'apple', 'cherry']

In [ ]:
print(len(thislist))

5

In [ ]:
#String, int and boolean data types:
list1 = ["apple", "banana", "cherry"]
list2 = [1, 5, 7, 9, 3]
list3 = [True, False, False]
print(list1)
print(list2)
print(list3)

['apple', 'banana', 'cherry']
[1, 5, 7, 9, 3]
[True, False, False]

In [ ]:
#A list with strings, integers and boolean values:
list1 = ["abc", "34", True, 40, "male"]
print(list1)

['abc', '34', True, 40, 'male']

In [ ]:
#Using the list() constructor to make a List:
thislist = list(("apple", "banana", "cherry"))
# note the double round-brackets
print(thislist)

['apple', 'banana', 'cherry']

In [ ]:
print(thislist[0])

apple

In [ ]:
#Print the second item of the list:
print(thislist[1])

banana

In [ ]:
#Print the last item of the list:

print(thislist[-1])

cherry

In [ ]:
#Return the third, fourth, and fifth item:
thislist = ["apple", "banana", "cherry", "orange", "kiwi", "melon", "mango", "mango"]
print(thislist[2:5])

['cherry', 'orange', 'kiwi']

In [ ]:
#This example returns the items from the beginning to, but NOT including, "kiwi":
print(thislist[:4])

['apple', 'banana', 'cherry', 'orange']

In [ ]:
#This example returns the items from "cherry" to the end:
print(thislist[2:])

['cherry', 'orange', 'kiwi', 'melon', 'mango', 'mango']

In [ ]:
#This example returns the items from "orange" (-4) to, but NOT including "mango" (-1):
print(thislist[-4:-1])

['kiwi', 'melon', 'mango']

In [ ]:
print(thislist[2:-2])

['cherry', 'orange', 'kiwi', 'melon']

In [ ]:
#Check if "apple" is present in the list:
if "apple" in thislist:
  print("Yes, 'apple' is in the fruits list")
else :
  print("No")

Yes, 'apple' is in the fruits list

In [ ]:
#Check if "apple" is present in the list:
if "durian" in thislist:
  print("Yes, 'durian' is in the fruits list")
else :
  print("No")

No

In [ ]:
thislist = ["apple", "banana", "cherry", "orange", "kiwi", "melon", "mango"]
print(thislist)

['apple', 'banana', 'cherry', 'orange', 'kiwi', 'melon', 'mango']

In [ ]:
#Change the second item:
thislist[1] = "blackcurrant"
print(thislist)

['apple', 'blackcurrant', 'cherry', 'orange', 'kiwi', 'melon', 'mango']

In [ ]:
#Change the values "blackcurrant" and "cherry" with the values "Tidar" and "Slawi":
thislist[1:3] = ["Tidar", "Slawi"]
print(thislist)

['apple', 'Tidar', 'Slawi', 'orange', 'kiwi', 'melon', 'mango']

In [ ]:
#Change the second item:
thislist[1] = "blackcurrant"
print(thislist)

['apple', 'blackcurrant', 'Slawi', 'orange', 'kiwi', 'melon', 'mango']

In [ ]:
#Change the values "blackcurrant" and "cherry" with the values "Tidar" and "Slawi":
thislist[1:3] = ["Tidar", "Slawi"]
print(thislist)

['apple', 'Tidar', 'Slawi', 'orange', 'kiwi', 'melon', 'mango']

In [ ]:
#Change the second and third value by replacing it with one value:
thislist[1:3] = ["watermelon"]
print(thislist)

['apple', 'watermelon', 'orange', 'kiwi', 'melon', 'mango']

In [ ]:
#Insert "cherry" as the third item:
thislist.insert(2, "cherry")
print(thislist)

['apple', 'watermelon', 'cherry', 'orange', 'kiwi', 'melon', 'mango']

In [ ]:
#Using the append() method to append an item:

thislist.append("orange")
print(thislist)

['apple', 'watermelon', 'cherry', 'orange', 'kiwi', 'melon', 'mango', 'orange']

In [ ]:
#Insert an item as the second position:
thislist.insert(1, "orange")
print(thislist)

['apple', 'orange', 'watermelon', 'cherry', 'orange', 'kiwi', 'melon', 'mango', 'orange']

In [ ]:
#Add the elements of tropical to thislist:
tropical = ["mango", "pineapple", "papaya"]
thislist.extend(tropical)
print(thislist)

['apple', 'orange', 'watermelon', 'cherry', 'orange', 'kiwi', 'melon', 'mango', 'orange', 'mango', 'pineapple', 'papaya']

In [ ]:
#Add elements of a tuple to a list:
thislist = ["apple", "banana", "cherry"]
thistuple = ("kiwi", "orange")
thislist.extend(thistuple)
print(thislist)

['apple', 'banana', 'cherry', 'kiwi', 'orange']

In [ ]:
#Remove "banana":
thislist.remove("banana")
print(thislist)

['apple', 'cherry', 'kiwi', 'orange']

In [ ]:
#Remove the first occurance of "banana":

thislist = ["apple", "banana", "cherry", "banana", "kiwi"]
thislist.remove("banana")
print(thislist)

['apple', 'cherry', 'banana', 'kiwi']

In [ ]:
#Remove the second item:
thislist = ["apple", "banana", "cherry"]
thislist.pop(1)
print(thislist)

['apple', 'cherry']

In [ ]:
#Remove the last item:

thislist = ["apple", "banana", "cherry"]
thislist.pop()
print(thislist)

['apple', 'banana']

In [ ]:
#Remove the first item:
thislist = ["apple", "banana", "cherry"]
del thislist[0]
print(thislist)

['banana', 'cherry']

In [ ]:
#Delete the entire list:
thislist = ["apple", "banana", "cherry"]
del thislist

In [ ]:
#Clear the list content:
thislist = ["apple", "banana", "cherry"]
thislist.clear()
print(thislist)

[]

In [ ]:
#Print all items in the list, one by one:
thislist = ["apple", "banana", "cherry"]
for x in thislist:
  print(x)

apple
banana
cherry

In [ ]:
#Print all items by referring to their index number:
thislist = ["apple", "banana", "cherry"]
for i in range(len(thislist)):
  print(thislist[i])

apple
banana
cherry

In [ ]:
#Print all items by referring to their index number:
thislist = ["apple", "banana", "cherry"]
for i in range(2):
  print(thislist[i])

apple
banana

In [ ]:
#Print all items, using a while loop to go through all the index numbers
thislist = ["apple", "banana", "cherry"]
i = 0
while i < len(thislist):
  print(thislist[i])
  i = i + 1

apple
banana
cherry

In [ ]:
fruits = ["apple", "banana", "cherry", "kiwi", "mango"]
newlist = []

for x in fruits:
  if "a" in x:
    newlist.append(x)

print(newlist)

['apple', 'banana', 'mango']

In [ ]:
#Check if "apple" is present in the list:
baru = ["apple", "banana", "cherry", "kiwi", "mango"]
if "a" in baru:
  print("Yes, 'a' is in the fruits list")
else :
  print("No")

No

In [ ]:
fruits = ["apple", "banana", "cherry", "kiwi", "mango"]

newlist = [x for x in fruits if "a" in x]

print(newlist)

['apple', 'banana', 'mango']

In [ ]:
#Only accept items that are not "apple":
newlist = [x for x in fruits if x != "apple"]
print(newlist)

['banana', 'cherry', 'kiwi', 'mango']

In [ ]:
#With no if statement:
newlist = [x for x in fruits]
print(newlist)

['apple', 'banana', 'cherry', 'kiwi', 'mango']

In [ ]:
#You can use the range() function to create an iterable:
newlist = [x for x in range(10)]
print(newlist)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [ ]:
#Accept only numbers lower than 5:
newlist = [x for x in range(10) if x < 5]
print(newlist)

[0, 1, 2, 3, 4]

In [ ]:
#Set the values in the new list to upper case:
newlist = [x.upper() for x in fruits]
print(newlist)

['APPLE', 'BANANA', 'CHERRY', 'KIWI', 'MANGO']

In [ ]:
#Set all values in the new list to 'hello':
newlist = ['hello' for x in fruits]
print(newlist)

['hello', 'hello', 'hello', 'hello', 'hello']

In [ ]:
#Return "orange" instead of "banana":
newlist = [x if x != "banana" else "orange" for x in fruits]
print(newlist)

['apple', 'orange', 'cherry', 'kiwi', 'mango']

In [ ]:
#Sort the list alphabetically:
thislist = ["orange", "mango", "kiwi", "pineapple", "banana"]
thislist.sort()
print(thislist)

['banana', 'kiwi', 'mango', 'orange', 'pineapple']

In [ ]:
#Sort the list numerically:
thislist = [100, 50, 65, 82, 23]
thislist.sort()
print(thislist)

[23, 50, 65, 82, 100]

In [ ]:
#Sort the list descending:
thislist = ["orange", "mango", "kiwi", "pineapple", "banana"]
thislist.sort(reverse = True)
print(thislist)

['pineapple', 'orange', 'mango', 'kiwi', 'banana']

In [ ]:
#Sort the list descending:
thislist = [100, 50, 65, 82, 23]
thislist.sort(reverse = True)
print(thislist)

[100, 82, 65, 50, 23]

In [ ]:
#Sort the list based on how close the number is to 50:
def myfunc(n):
  return abs(n - 50)

thislist = [100, 50, 65, 82, 23]
thislist.sort(key = myfunc)
print(thislist)

[50, 65, 23, 82, 100]

In [ ]:
#Case sensitive sorting can give an unexpected result:
thislist = ["banana", "Orange", "Kiwi", "cherry"]
thislist.sort()
print(thislist)

['Kiwi', 'Orange', 'banana', 'cherry']

In [ ]:
#Perform a case-insensitive sort of the list:
thislist = ["banana", "Orange", "Kiwi", "cherry"]
thislist.sort(key = str.lower)
print(thislist)

['banana', 'cherry', 'Kiwi', 'Orange']

In [ ]:
#Reverse the order of the list items:
thislist = ["banana", "Orange", "Kiwi", "cherry"]
thislist.reverse()
print(thislist)

['cherry', 'Kiwi', 'Orange', 'banana']

In [ ]:
#Make a copy of a list with the copy() method:
thislist = ["apple", "banana", "cherry"]
mylist = thislist.copy()
print(mylist)

['apple', 'banana', 'cherry']

In [ ]:
#Make a copy of a list with the list() method:
thislist = ["apple", "banana", "cherry"]
mylist = list(thislist)
print(mylist)

['apple', 'banana', 'cherry']

In [ ]:
#Join two list:
list1 = ["a", "b", "c"]
list2 = [1, 2, 3]

list3 = list1 + list2
print(list3)

['a', 'b', 'c', 1, 2, 3]

In [ ]:
#Append list2 into list1:
list1 = ["a", "b" , "c"]
list2 = [1, 2, 3]

for x in list2:
  list1.append(x)

print(list1)

['a', 'b', 'c', 1, 2, 3]

In [ ]:
#Use the extend() method to add list2 at the end of list1:
list1 = ["a", "b" , "c"]
list2 = [1, 2, 3]

list1.extend(list2)
print(list1)

['a', 'b', 'c', 1, 2, 3]

In [ ]:
fruits = ["apple", "banana", "cherry"]
fruits[0] = "kiwi"

In [ ]:
fruits = ["apple", "banana", "cherry"]
fruits.append("orange")

In [ ]:
fruits = ["apple", "banana", "cherry"]
fruits.insert(1, "lemon")

In [ ]:
fruits = ["apple", "banana", "cherry"]
fruits.remove("banana")

In [ ]:
fruits = ["apple", "banana", "cherry"]
print(fruits[-1])

cherry

In [ ]:
fruits = ["apple", "banana", "cherry", "orange", "kiwi", "melon", "mango"]
print(fruits[2:5])

['cherry', 'orange', 'kiwi']

In [ ]:
fruits = ["apple", "banana", "cherry"]
print(len(fruits))

3

In [ ]:
#create tuple
thistuple = ("apple", "banana", "cherry")
print(thistuple)

('apple', 'banana', 'cherry')

In [ ]:
#Tuples allow duplicate values:
thistuple = ("apple", "banana", "cherry", "apple", "cherry")
print(thistuple)

('apple', 'banana', 'cherry', 'apple', 'cherry')

In [ ]:
#Print the number of items in the tuple:
thistuple = ("apple", "banana", "cherry")
print(len(thistuple))

3

In [ ]:
#One item tuple, remember the comma:

thistuple = ("apple",)
print(type(thistuple))

#NOT a tuple
thistuple = ("apple")
print(type(thistuple))

<class 'tuple'>
<class 'str'>

In [ ]:
#String, int and boolean data types:
tuple1 = ("apple", "banana", "cherry") #string
tuple2 = (1, 5, 7, 9, 3) #integer
tuple3 = (True, False, False) #boolean

In [ ]:
#A tuple with strings, integers and boolean values:
tuple1 = ("abc", 34, True, 40, "male")
print(tuple1)

('abc', 34, True, 40, 'male')

In [ ]:
#What is the data type of a tuple?
mytuple = ("apple", "banana", "cherry")
print(type(mytuple))

<class 'tuple'>

In [ ]:
#What is the data type of a tuple?
mytuple = ("apple", "banana", "cherry")
print(type(mytuple))

<class 'tuple'>

In [ ]:
#Print the second item in the tuple:
thistuple = ("apple", "banana", "cherry")
print(thistuple[1])

banana

In [ ]:
#Print the last item of the tuple:
thistuple = ("apple", "banana", "cherry")
print(thistuple[-1])

cherry

In [ ]:
#Return the third, fourth, and fifth item:
thistuple = ("apple", "banana", "cherry", "orange", "kiwi", "melon", "mango")
print(thistuple[2:5])

('cherry', 'orange', 'kiwi')

In [ ]:
#This example returns the items from the beginning to, but NOT included, "kiwi":
thistuple = ("apple", "banana", "cherry", "orange", "kiwi", "melon", "mango")
print(thistuple[:4])

('apple', 'banana', 'cherry', 'orange')

In [ ]:
#This example returns the items from "cherry" and to the end:
thistuple = ("apple", "banana", "cherry", "orange", "kiwi", "melon", "mango")
print(thistuple[2:])

('cherry', 'orange', 'kiwi', 'melon', 'mango')

In [ ]:
#This example returns the items from index -4 (included) to index -1 (excluded)
thistuple = ("apple", "banana", "cherry", "orange", "kiwi", "melon", "mango")
print(thistuple[-4:-1])

('orange', 'kiwi', 'melon')

In [ ]:
#Check if "apple" is present in the tuple:
thistuple = ("apple","banana", "cherry")
if "apple" in thistuple:
  print("Yes, 'apple' is in the fruits tuple")
else :
  print("No, 'apple' is not in the fruits tuple")

Yes, 'apple' is in the fruits tuple

In [ ]:
#Convert the tuple into a list to be able to change it:
x = ("apple", "banana", "cherry")
y = list(x)
y[1] = "kiwi"
x = tuple(y)

print(x)

('apple', 'kiwi', 'cherry')

In [ ]:
#Convert the tuple into a list, add "orange", and convert it back into a tuple:
thistuple = ("apple", "banana", "cherry")
print(thistuple)
print('->before add new item')


y = list(thistuple)
y.append("orange")
thistuple = tuple(y)
print(thistuple)
print('->after add new item')

('apple', 'banana', 'cherry')
->before add new item
('apple', 'banana', 'cherry', 'orange')
->after add new item

In [ ]:
#Create a new tuple with the value "orange", and add that tuple:
thistuple = ("apple", "banana", "cherry")
y = ("orange","strawberry")
thistuple += y

print(thistuple)

('apple', 'banana', 'cherry', 'orange', 'strawberry')

In [ ]:
#Convert the tuple into a list, remove "apple", and convert it back into a tuple:
thistuple = ("apple", "banana", "cherry")
y = list(thistuple)
y.remove("apple")
thistuple = tuple(y)
print(thistuple)

('banana', 'cherry')

In [ ]:
#Unpacking a tuple:
fruits = ("apple", "banana", "cherry")

(green, yellow, red) = fruits

print(green)
print(yellow)
print(red)

apple
banana
cherry

In [ ]:
#Assign the rest of the values as a list called "red":
fruits = ("apple", "banana", "cherry", "strawberry", "raspberry")

(green, yellow, *red) = fruits

print(green)
print(yellow)
print(red)

apple
banana
['cherry', 'strawberry', 'raspberry']

In [ ]:
#Add a list of values the "tropic" variable:
fruits = ("apple", "mango", "papaya", "pineapple", "cherry")

(green, *tropic, red) = fruits

print(green)
print(tropic)
print(red)

apple
['mango', 'papaya', 'pineapple']
cherry

In [ ]:
#Iterate through the items and print the values:
thistuple = ("apple", "banana", "cherry")
for x in thistuple:
  print(x)

apple
banana
cherry

In [ ]:
#Iterate through the items and print the values:
thistuple = ("apple", "banana", "cherry")
for x in thistuple:
  print(x)

apple
banana
cherry

In [ ]:
#Print all items, using a while loop to go through all the index numbers:
thistuple = ("apple", "banana", "cherry")
i = 0
while i < len(thistuple):
  print(thistuple[i])
  i = i + 1

apple
banana
cherry

In [ ]:
#Join two tuples:
tuple1 = ("a", "b" , "c")
tuple2 = (1, 2, 3)

tuple3 = tuple1 + tuple2
print(tuple3)

('a', 'b', 'c', 1, 2, 3)

In [ ]:
#Multiply the fruits tuple by 2:
fruits = ("apple", "banana", "cherry")
mytuple = fruits * 2

print(mytuple)

('apple', 'banana', 'cherry', 'apple', 'banana', 'cherry')

In [ ]:
fruits = ("apple", "banana", "cherry")
print(fruits[0])

apple

In [ ]:
print(len(fruits))

3

In [ ]:
print(fruits[-1])

cherry

In [ ]:
morefruits = ("orange","kiwi","melon","mango")
fruits += morefruits

print (fruits)

('apple', 'banana', 'cherry', 'orange', 'kiwi', 'melon', 'mango')

In [ ]:
#Duplicate values will be ignored:
thisset = {"apple", "banana", "cherry", "apple"}

print(thisset)

{'banana', 'apple', 'cherry'}

In [ ]:
#True and 1 is considered the same value:
thisset = {"apple", "banana", "cherry", True, 1, 2}
print(thisset)

{'banana', True, 'apple', 2, 'cherry'}

In [ ]:
#False and 0 is considered the same value:
thisset = {"apple", "banana", "cherry", False, True, 0}

print(thisset)

{False, True, 'apple', 'banana', 'cherry'}

In [ ]:
#Get the number of items in a set:
thisset = {"apple", "banana", "cherry"}
print(len(thisset))

3

In [ ]:
#String, int and boolean data types:
set1 = {"apple", "banana", "cherry"}
set2 = {1, 5, 7, 9, 3}
set3 = {True, False, False}
print(set1)
print(set2)
print(set3)

{'banana', 'apple', 'cherry'}
{1, 3, 5, 7, 9}
{False, True}

In [ ]:
#A set with strings, integers and boolean values:
set1 = {"abc", 34, True, 40, "male"}
print(set1)

{True, 34, 'abc', 40, 'male'}

In [ ]:
#A set with strings, integers and boolean values:
set2 = {"abc", 34, True, 40, "male"}
print(set2)

{True, 34, 'abc', 40, 'male'}

In [ ]:
#A set with strings, integers and boolean values:
set3 = {"abc", 34, True, 40, "male"}
print(set3)

{True, 34, 'abc', 40, 'male'}

In [ ]:
#What is the data type of a set?
myset = {"apple", "banana", "cherry"}
print(type(myset))

<class 'set'>

In [ ]:
#Using the set() constructor to make a set:
thisset = set(("apple", "banana", "cherry")) # note the double round-brackets
print(thisset)

{'banana', 'apple', 'cherry'}

In [ ]:
#Loop through the set, and print the values:
thisset = {"apple", "banana", "cherry"}
for x in thisset:
  print(x)

banana
apple
cherry

In [ ]:
#Check if "banana" is present in the set:
thisset = {"apple", "banana", "cherry"}
print("banana" in thisset)

True

In [ ]:
#Add an item to a set, using the add() method:
thisset = {"apple", "banana", "cherry"}
thisset.add("orange")
print(thisset)

{'banana', 'apple', 'orange', 'cherry'}

In [ ]:
#Add elements from tropical into thisset:
thisset = {"apple", "banana", "cherry"}
tropical = {"pineapple", "mango", "papaya"}
thisset.update(tropical)
print(thisset)

{'banana', 'apple', 'papaya', 'pineapple', 'mango', 'cherry'}

In [ ]:
#Add elements of a list to at set:
thisset = {"apple", "banana", "cherry"}
mylist = ["kiwi", "orange"]
thisset.update(mylist)
print(thisset)

{'apple', 'orange', 'banana', 'kiwi', 'cherry'}

In [ ]:
#Remove "banana" by using the discard() method:
thisset = {"apple", "banana", "cherry"}
thisset.discard("banana")
print(thisset)

{'apple', 'cherry'}

In [ ]:
#Remove a random item by using the pop() method:
thisset = {"apple", "banana", "cherry"}
x = thisset.pop()
print(x)
print(thisset)

banana
{'apple', 'cherry'}

In [ ]:
#The clear() method empties the set:
thisset = {"apple", "banana", "cherry"}
thisset.clear()
print(thisset)

set()

In [ ]:
#The del keyword will delete the set completely:
thisset = {"apple", "banana", "cherry"}
del thisset
print('thisset')

thisset

In [ ]:
#Loop through the set, and print the values:
thisset = {"apple", "banana", "cherry"}
for x in thisset:
  print(x)

banana
apple
cherry

In [ ]:
#The union() method returns a new set with all items from both sets:
set1 = {"a", "b" , "c"}
set2 = {1, 2, 3}

set3 = set1.union(set2)
print(set3)

{1, 2, 3, 'c', 'b', 'a'}

In [ ]:
#The update() method inserts the items in set2 into set1:
set1 = {"a", "b" , "c"}
set2 = {1, 2, 3}

set1.update(set2)
print(set1)

{1, 2, 3, 'c', 'b', 'a'}

In [ ]:
#Keep the items that exist in both set x, and set y:
x = {"apple", "banana", "cherry"}
y = {"google", "microsoft", "apple"}

x.intersection_update(y)

print(x)

{'apple'}

In [ ]:
#Return a set that contains the items that exist in both set x, and set y:
x = {"apple", "banana", "cherry"}
y = {"google", "microsoft", "apple"}
z = x.intersection(y)
print(z)

{'apple'}

In [ ]:
#Keep the items that are not present in both sets:
x = {"apple", "banana", "cherry"}
y = {"google", "microsoft", "apple"}
x.symmetric_difference_update(y)
print(x)

{'banana', 'google', 'microsoft', 'cherry'}

In [ ]:
#Return a set that contains all items from both sets, except items that are present in both:
x = {"apple", "banana", "cherry"}
y = {"google", "microsoft", "apple"}
z = x.symmetric_difference(y)
print(z)

{'google', 'banana', 'microsoft', 'cherry'}

In [ ]:
#True and 1 is considered the same value:
x = {"apple", "banana", "cherry", True}
y = {"google", 1, "apple", 2}
z = x.symmetric_difference(y)
print(z)

{2, 'cherry', 'banana', 'google'}

In [ ]:
#Create and print a dictionary:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
print(thisdict)

{'brand': 'Ford', 'model': 'Mustang', 'year': 1964}

In [ ]:
#Print the "brand" value of the dictionary:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
print(thisdict["brand"])

Ford

In [ ]:
#Duplicate values will overwrite existing values:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964,
  "year": 2020
}
print(thisdict)

{'brand': 'Ford', 'model': 'Mustang', 'year': 2020}

In [ ]:
#Print the number of items in the dictionary:
print(len(thisdict))

3

In [ ]:
#String, int, boolean, and list data types:
thisdict = {
  "brand": "Ford",
  "electric": False,
  "year": 1964,
  "colors": ["red", "white", "blue"]
}
print(thisdict)

{'brand': 'Ford', 'electric': False, 'year': 1964, 'colors': ['red', 'white', 'blue']}

In [ ]:
#Print the data type of a dictionary:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
print(type(thisdict))

<class 'dict'>

In [ ]:
#Using the dict() method to make a dictionary:
thisdict = dict(name = "John", age = 36, country = "Norway")
print(thisdict)

{'name': 'John', 'age': 36, 'country': 'Norway'}

In [ ]:
#Get the value of the "model" key:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
x = thisdict["model"]
print(x)

Mustang

In [ ]:
#Get the value of the "model" key:
x = thisdict.get("model")
print(x)

Mustang

In [ ]:
#Get a list of the keys:
x = thisdict.keys()
print(x)

dict_keys(['brand', 'model', 'year'])

In [ ]:
#Add a new item to the original dictionary, and see that the keys list gets updated as well:
car = {
"brand": "Ford",
"model": "Mustang",
"year": 1964
}

x = car.keys()

print(x) #before the change

car["color"] = "white"

print(x) #after the change

dict_keys(['brand', 'model', 'year'])
dict_keys(['brand', 'model', 'year', 'color'])

In [ ]:
#Get a list of the values:
x = thisdict.values()
print(x)

dict_values(['Ford', 'Mustang', 1964])

In [ ]:
#Make a change in the original dictionary, and see that the values list gets updated as well:
car = {
"brand": "Ford",
"model": "Mustang",
"year": 1964
}

x = car.values()

print(x) #before the change

car["year"] = 2020

print(x) #after the change

dict_values(['Ford', 'Mustang', 1964])
dict_values(['Ford', 'Mustang', 2020])

In [ ]:
#Add a new item to the original dictionary, and see that the values list gets updated as well:
car = {
"brand": "Ford",
"model": "Mustang",
"year": 1964
}

x = car.values()

print(x) #before the change

car["color"] = "red"

print(x) #after the change

dict_values(['Ford', 'Mustang', 1964])
dict_values(['Ford', 'Mustang', 1964, 'red'])

In [ ]:
#Get a list of the key:value pairs
x = thisdict.items()
print(x)

dict_items([('brand', 'Ford'), ('model', 'Mustang'), ('year', 1964)])

In [ ]:
#Make a change in the original dictionary, and see that the items list gets updated as well:
car = {
"brand": "Ford",
"model": "Mustang",
"year": 1964
}

x = car.items()

print(x) #before the change

car["year"] = 2020

print(x) #after the change

dict_items([('brand', 'Ford'), ('model', 'Mustang'), ('year', 1964)])
dict_items([('brand', 'Ford'), ('model', 'Mustang'), ('year', 2020)])

In [ ]:
#Add a new item to the original dictionary, and see that the items list gets updated as well:
car = {
"brand": "Ford",
"model": "Mustang",
"year": 1964
}

x = car.items()

print(x) #before the change

car["color"] = "red"

print(x) #after the change

dict_items([('brand', 'Ford'), ('model', 'Mustang'), ('year', 1964)])
dict_items([('brand', 'Ford'), ('model', 'Mustang'), ('year', 1964), ('color', 'red')])

In [ ]:
#Check if "model" is present in the dictionary:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
if "model" in thisdict:
  print("Yes, 'model' is one of the keys in the thisdict dictionary")
else :
  print ("No")

Yes, 'model' is one of the keys in the thisdict dictionary

In [ ]:
#Change the "year" to 2018:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
thisdict["year"] = 2018
print(thisdict)

{'brand': 'Ford', 'model': 'Mustang', 'year': 2018}

In [ ]:
#Update the "year" of the car by using the update() method:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
thisdict.update({"year": 2020})
print(thisdict)

{'brand': 'Ford', 'model': 'Mustang', 'year': 2020}

In [ ]:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
thisdict["color"] = "red"
print(thisdict)

{'brand': 'Ford', 'model': 'Mustang', 'year': 1964, 'color': 'red'}

In [ ]:
#Add a color item to the dictionary by using the update() method:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
thisdict.update({"color": "red"})
print(thisdict)

{'brand': 'Ford', 'model': 'Mustang', 'year': 1964, 'color': 'red'}

In [ ]:
#The pop() method removes the item with the specified key name:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
thisdict.pop("model")
print(thisdict)

{'brand': 'Ford', 'year': 1964}

In [ ]:
#The popitem() method removes the last inserted item (in versions before 3.7, a random item is removed instead):
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
thisdict.popitem()
print(thisdict)

{'brand': 'Ford', 'model': 'Mustang'}

In [ ]:
#The del keyword removes the item with the specified key name:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
del thisdict["model"]
print(thisdict)

{'brand': 'Ford', 'year': 1964}

In [ ]:
#Print all key names in the dictionary, one by one:
thisdict =	{
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
for x in thisdict:
  print(x)

brand
model
year

In [ ]:
#Print all values in the dictionary, one by one:
for x in thisdict:
  print(thisdict[x])

Ford
Mustang
1964

In [ ]:
#You can also use the values() method to return values of a dictionary:
for x in thisdict.values():
  print(x)

Ford
Mustang
1964

In [ ]:
#You can use the keys() method to return the keys of a dictionary:
for x in thisdict.keys():
  print(x)

brand
model
year

In [ ]:
#Make a copy of a dictionary with the copy() method:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
mydict = thisdict.copy()
print(mydict)

{'brand': 'Ford', 'model': 'Mustang', 'year': 1964}

In [ ]:
#Make a copy of a dictionary with the dict() function:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
mydict = dict(thisdict)
print(mydict)

{'brand': 'Ford', 'model': 'Mustang', 'year': 1964}

In [ ]:
#Create a dictionary that contain three dictionaries:
myfamily = {
  "child1" : {
    "name" : "Emil",
    "year" : 2004
  },
  "child2" : {
    "name" : "Tobias",
    "year" : 2007
  },
  "child3" : {
    "name" : "Linus",
    "year" : 2011
  }
}
print(myfamily)

{'child1': {'name': 'Emil', 'year': 2004}, 'child2': {'name': 'Tobias', 'year': 2007}, 'child3': {'name': 'Linus', 'year': 2011}}

In [ ]:
#Create three dictionaries, then create one dictionary that will contain the other three dictionaries:
child1 = {
  "name" : "Emil",
  "year" : 2004
}
child2 = {
  "name" : "Tobias",
  "year" : 2007
}
child3 = {
  "name" : "Linus",
  "year" : 2011
}

myfamily = {
  "child1" : child1,
  "child2" : child2,
  "child3" : child3
}
print(myfamily)

{'child1': {'name': 'Emil', 'year': 2004}, 'child2': {'name': 'Tobias', 'year': 2007}, 'child3': {'name': 'Linus', 'year': 2011}}

In [ ]:
#Print the name of child 2:
print(myfamily["child2"]["name"])

Tobias

WEEKLY EXERCISE 1

1. List =
List merupakan tipe data yang ditulis secara berurutan dimana bisa berisi lebih dari satu tipe data, serta dapat diubah (mutable) dan memungkinkan adanya data duplikat. Tipe data list diawali dengan tanda kurung siku buka ( [ ) dan ditutup dengan kurung siku tutup ( ] ). Sementara untuk memisahkan setiap elemen di dalamnya dapat dilakukan dengan menggunakan tanda koma ( , ).
2. Tuple =
Tipe data tuple juga berfungsi untuk menampung sekumpulan data. Tipe data ini diawali dengan tanda kurung buka ( ( ), memisahkan setiap elemen di dalamnya dengan tanda koma ( , ) dan ditutup dengan tanda kurung tutup ( ) ). Perbedaan tuple yang cukup mencolok antara tuple dan list selain di kurung yang digunakan, juga karena tipe data tuple bersifat immutable yang berarti elemen pada tipe data tuple tidak dapat diubah setelah proses pendeklarasiannya. Pada tuple, kita juga bisa menuliskan data yang duplikat.
3. Set =
Tipe data set hampir sama dengan tipe data yang sebelumnya, dimana akan digunakan untuk menyimpan sekumpulan data. Tipe data ini akan diawali dengan tanda kurung buka kurawal ( { ), dan ditutup dengan tanda kurung tutup ( } ).Untuk memisahkan setiap elemen di dalamnya masih sama dengan menggunakan tanda koma ( , ). Namun berbeda dengan list dan tuple, tipe data objek tidak mengizinkan adanya elemen dengan nilai yang sama dan tidak memperdulikan urutan dari elemen.
4. Dictionary =
Tipe data dictionary akan digunakan untuk memetakan sebuah nilai pada data ke dalam nilai lainnya. Tipe data dictionary dapat dideklarasikan dengan diawali oleh tanda kurung buka kurawal ( { ), memisahkan setiap elemen di dalamnya dengan tanda koma ( , ) dan ditutup dengan tanda kurung tutup ( } ).

WEEKLY EXERCISE 2

In [ ]:
Mahasiswa1 = {
    'Nama'           : 'Septiana Diyah Ayu Wulandari',
    'Kelas'          : 'Rombel 1',
    'Tanggal Lahir'  : '01 September 2006',
    'No Hp'          : '083344328282',
    'Alamat'         : 'Saragan, Banyurojo',
    'Hobi'           : ['Traveling', 'See the sunset',]
}

Mahasiswa2 = {
    'Nama'          : 'Lintang Surya Wijayanti',
    'Kelas'         : 'Rombel 2',
    'Tanggal Lahir' : '26 Juni 2006',
    'No Hp'         : '083133454567',
    'Alamat'        : 'Karang Rejo, Tibayan',
    'Hobi'          : ['Sleep', 'Eat',]
}

datamahasiswa = [Mahasiswa1, Mahasiswa2]
for i in datamahasiswa:
  print('Nama          :', i['Nama'])
  print('Kelas         :', i['Kelas'])
  print('Tanggal Lahir :', i['Tanggal Lahir'])
  print('No Hp         :', i['No Hp'])
  print('Alamat        :', i['Alamat'])
  print('Hobi          :')

  No = 1
  for hobi in i['Hobi']:
    print(f'{No}. {hobi}')
    No += 1

Nama          : Septiana Diyah Ayu Wulandari
Kelas         : Rombel 1
Tanggal Lahir : 01 September 2006
No Hp         : 083344328282
Alamat        : Saragan, Banyurojo
Hobi          :
1. Traveling
2. See the sunset
Nama          : Lintang Surya Wijayanti
Kelas         : Rombel 2
Tanggal Lahir : 26 Juni 2006
No Hp         : 083133454567
Alamat        : Karang Rejo, Tibayan
Hobi          :
1. Sleep
2. Eat